In [6]:
# import a datasets dataset from /Users/anna/Documents/git projects.nosync/StyleTokenizer/data/UMich-AV/down_1_shuffle
import datasets

file_path = "/Users/anna/Documents/git projects.nosync/StyleTokenizer/data/UMich-AV/down_1_shuffle/validation"
dataset = datasets.load_from_disk(file_path)

In [11]:
# print an example from the dataest with the column names
print(dataset[100])

{'query_id': '9f0bc8e4-2dca-6682-a316-da33d9dba573', 'query_authorID': "['36460096-5341-1918-ed68-025baa59aeda']", 'query_text': 'Hi,\n\nI am currently evaluating OTRS for use as a Helpdesk System.\n\nHowever I am a little confused about how best to set it up.\n\nI have setup different queues for different types of problems eg Desktop\nServer etc\n\nI want to have some users managing some queues but not others, but also \nsome customers to create tickets in  some queues but not others.\n\nExample (cos I probably didnt explain that very well)\n\nQueues A B C\nUser 1 can manage queues A B\nUser 2 can manage queue C\nCustomer 1 can create tickets in queue A\nCustomer 2 can create tickets in queue B\nCustomer 3 can create tickets in queue C\n\nWhen I create the queue, I assign the user group to that queue, but how \ndo I then allow the customers access to these queues?\n\nI have turned on the facility to use Customer Groups but this doesnt \nappear to help me.\n\nIs this possible?\n\nApologies if this is a silly question but I couldnt find an answer on \nthe Mailing List archives.\n\nCheers\n\nCeri\n', 'candidate_id': 'cb856a7d-6b46-37ad-4888-b4a9c024c31b', 'candidate_authorID': "['36460096-5341-1918-ed68-025baa59aeda']", 'candidate_text': 'Hi,\n\nI am setting up Mailscanner not to deliver any spam to my users, but to \nsend a spam report once a day using quarantine_report.php.\n\nHowever I quarantine non spam messages, so that I can feed incorrectly \nclassified spam to sa-learn.\n\nThis means that when quarantine_report.php runs, it also includes \nnon-spam messages, which will have been delivered. These show up as type \nreason UNKNOWN in the quarantine report.\n\nIs there a better way to achieve this, so that the quarantine_report \nonly shows up spam?  I looked into tweeking the SQL that runs in \nquarantine_report.php, but I am not sure how to achieve this given the \ndatabase structure.\n\nCould anyone point me in the right direction?\n\nCheers\n\nCeri\n'}

In [13]:
import pandas as pd
data_path = "/Users/anna/Documents/git projects.nosync/StyleTokenizer/data/GYAFC/GYAFC_Corpus/dev.csv"
data = pd.read_csv(data_path)

In [14]:
data

      label                                               text
0         1  "Xero" is actually spelled like that, but it i...
1         1       Yes, men do think about sex more than women.
2         1  That is because people are usually out on a Sa...
3         0           talk to me-- you can't be that lonely !!
4         0                         What do think will he sue?
...     ...                                                ...
2827      0                get noticed, get hired...get on tv.
2828      0  Dude, I hate to say it but she was cheating on...
2829      0  Well, it's on cable at night still...isn't tha...
2830      0  Mine was Audio Adrenaline ever heard of them, ...
2831      1                      Yes, that would be very good.

[2832 rows x 2 columns]