In [1]:
import pandas as pd
# load in csv dataset
df_train = pd.read_csv('../data/age/train.csv')
df_dev = pd.read_csv('../data/age/validation.csv')

In [2]:
# remove entries where age >= 40
df_train = df_train[df_train["age"] < 40]
df_train[df_train["label"] == "30s"]["age"].value_counts()

age
34    21634
35    17156
33    16827
36    14526
37    10199
38     7371
39     5471
Name: count, dtype: int64

In [3]:
df_train[df_train["label"] == "20s"]["age"].value_counts()

age
24    82101
23    76419
25    67966
26    57369
27    46462
Name: count, dtype: int64

In [4]:
df_train[df_train["label"] == "10s"]["age"].value_counts()

age
17    81279
16    71666
15    40718
14    27949
13    12468
Name: count, dtype: int64

In [5]:
# get number of occurrences for each unique label
df_train['label'].value_counts()

label
20s    330317
10s    234080
30s     93184
Name: count, dtype: int64

In [6]:
# get lowest occurence and sample that many from each label
min_occurence = df_train['label'].value_counts().min()
df_train_sampled = df_train.groupby('label').apply(lambda x: x.sample(min_occurence)).reset_index(drop=True)
print(df_train_sampled['label'].value_counts())
# do the same for dev 
min_occurence = df_dev['label'].value_counts().min()
df_dev_sampled = df_dev.groupby('label').apply(lambda x: x.sample(min_occurence)).reset_index(drop=True)
print(df_dev_sampled['label'].value_counts())

label
10s    93184
20s    93184
30s    93184
Name: count, dtype: int64
label
10s    6849
20s    6849
30s    6849
Name: count, dtype: int64

/var/folders/9t/lg86d6h9261dz33jq7hsw5ph0000gn/T/ipykernel_7827/3770625573.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_train_sampled = df_train.groupby('label').apply(lambda x: x.sample(min_occurence)).reset_index(drop=True)
/var/folders/9t/lg86d6h9261dz33jq7hsw5ph0000gn/T/ipykernel_7827/3770625573.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_dev_sampled = df_dev.groupby('label').apply(lambda x: x.sample(min_occurence)).reset_index(drop=True)

In [7]:
# save sampled data
df_train_sampled.to_csv('../data/age/train_sampled.csv', index=False)
df_dev_sampled.to_csv('../data/age/validation_sampled.csv', index=False)

,text,date,gender,age,horoscope,job,label
0,Bob showed up about halfway through the movie....,"05,June,2004",male,17,Aquarius,Student,10s
1,the weather today juz marvellous man.. so damn...,"29,May,2004",male,16,Libra,Student,10s
2,"And so were the recaps. Seriously people, if y...","15,January,2004",female,16,Aquarius,indUnk,10s
3,urlLink A picture I drew of what my charact...,"09,June,2004",female,13,Taurus,Student,10s
4,"""so some may say.....wait.....i don't know wha...","12,December,2003",male,16,Gemini,Arts,10s
...,...,...,...,...,...,...,...
279547,Got the following email from Tiffani: You wil...,"15,June,2004",female,38,Taurus,Education,30s
279548,"Laws, treaties (like the Geneva Conventions), ...","07,June,2004",male,35,Capricorn,Military,30s
279549,"Lately, I've been... Listening to : I have...","14,April,2003",male,35,Aries,indUnk,30s
279550,I happened to run across this website today. I...,"16,June,2004",female,34,Capricorn,Internet,30s
279551,"Chris is starting us on a new RPG game, playin...","15,April,2004",female,34,Scorpio,Publishing,30s