In [1]:
import pandas as pd
# load in tsv file
df_train = pd.read_csv('../data/DSL-TL/EN_train.tsv', sep='\t')
df_dev = pd.read_csv('../data/DSL-TL/EN_dev.tsv', sep='\t')
# remove rows where label is just "EN
df_train = df_train[df_train['label'] != 'EN']
df_dev = df_dev[df_dev['label'] != 'EN']
# rename label column to language
df_train = df_train.rename(columns={'label': 'language'})
df_dev = df_dev.rename(columns={'label': 'language'})

In [8]:
df_train

        id                                               text language
0     1770  There is no one more suitable to determine how...    EN-US
1     1150  Peter Vallone yesterday stepped on the acceler...    EN-US
2     1562  NEWPORT County AFC’s chances of unearthing fut...    EN-GB
4     2939  IT SEEMS very un- Saintslike, almost unnatural...    EN-GB
5     1385  ROBERT BOYETT, who made his fortune over the l...    EN-US
...    ...                                                ...      ...
2090  1940  With recession in the air and gasoline surpass...    EN-US
2091  2890  "It wasn't my time," said the 36-year-old Lebe...    EN-US
2092   181  When measuring progress in education, you usua...    EN-US
2093   397  UP to 100 jobs could be created at the Hampshi...    EN-GB
2095   715  HE is the Southampton-born pop star who pushed...    EN-GB

[1824 rows x 3 columns]

In [2]:
df_dev

       id                                               text language
0     546  Oxford's vintage jazz masters The Original Rab...    EN-GB
1    2482  WASHINGTON – A federal judge ruled yesterday t...    EN-US
2    2810  Someone once said, “Any beer is good beer, col...    EN-US
3     248  Mayor Rahm Emanuel was quick on Tuesday mornin...    EN-US
4     796  AN abandoned car, which is partly parked on a ...    EN-US
..    ...                                                ...      ...
592   730  A passenger was horrified after she was told b...    EN-US
593    20  GOODYEAR, Ariz. — Whether to extend Corey Klub...    EN-US
594   411  FOUR scientists from the University of Southam...    EN-GB
595   821  A GWENT cycling star is among 11 people from G...    EN-GB
597  2233  BANBURY extended their winning run to 11 games...    EN-GB

[523 rows x 3 columns]

In [4]:
# print text fully for one example
print(df_dev['text'].iloc[0])

Oxford's vintage jazz masters The Original Rabbit Foot Spasm Band pull a night of surprises and virtuoso musicianship out of their hats with a knees-up to remember

In [10]:
# save to tsv
df_train.to_csv('../data/DSL-TL/train.tsv', sep='\t', index=False)
df_dev.to_csv('../data/DSL-TL/dev.tsv', sep='\t', index=False)